/**
 * TIFX Technologies
 * Copyright (c) 2014-2021 - All rights reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Written by Bruno B. Stein <bruno.stein@tifx.com.br>, 2021
 */

const app = {
  app: {
    name: "Home-X",
    version: "1.0.0"
  },
  api: {
    host: "",
    user: "",
    pass: ""
  }
}

module.exports = app;
